{% extends 'fino/base.html'%} {% block title %}Criar Categoria{% endblock %} {%
block h1 %}Criar Categoria{% endblock %} {% block content %} {% load
crispy_forms_tags %}
<!-- <form action="#" method="post">
	{% csrf_token %}
	{{form |crispy}}
	
	<input type="submit" name="enviar">
	

</form> -->

<main class="form-signin text-center">
  {% load crispy_forms_tags %}
  <form method="post" action="#">
    {% csrf_token %} {{form | crispy}}
    <button
      class="w-100 btn btn-lg btn-primary mt-2"
      type="submit"
      value="login"
    >
      Enviar
    </button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
  </form>
</main>

{% endblock %}
